h1{
    text-align: center;
}

ul{
    list-style-type: none;
}

.cardOng{

}

.ulMinhaOng{
    overflow: hidden;
    text-align: center;
}

#fotoOng{
    display: flex;
    justify-content: center;
}

.minhaOng {

    font-size: 35px;
}


.infoOng{
    margin: auto;
    width: 50%;
}

.infoOng ul{
    margin: auto;
    width: 71%;
    
}

.nomeOng{
    width: 100%;
    font-size: 80px;
}

.botoesFuncao{
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}

.ulPet{
    list-style-type: none;
    display: inline-block;
    border: 5px solid black;
    border-radius: 5%;
    margin: 15px;
    padding: 1em;

}

.liPet{
    margin: 0px 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}


.divPets{
    display: flex;
    justify-content: center;
}

.botoesFuncao button{
    margin-left: 1em;
}

.botoesFuncao form{
    margin-left: 1em;
    margin-block-end: 0%;
}

@media only screen and (max-width: 768px) {

    .nomeOng{
        font-size: 40px;
    }

    .minhaOng{
        font-size: 30px;
    }

    .ulMinhaOng{
        padding: 0px;
    }

    .ulPet{
        display: inline-block;
    }

    .divPets{
        display: block;
        text-align: center;
    }

}