.ulOng{
    list-style-type: none;
    border: 3px solid green;
    display: inline-block;
    padding: 1em;
    margin: 1em 2em;
    font-size: 30px;
    border-radius: 10%;
    text-align: center;
    width: 20%;
    height: 45%;
}

img{
    margin: 1em 1em;
}

#input {
    display: block;
}

.w3-row{
    text-align: center;
}

.text{
    display: block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}